<div>
	<div gridster="gridsterOpts">
        <ul>
			<li gridster-item rol="1" col="1" size-x="6" size-y="6" id="mapComponent">
				<map-component></map-component>  <!--location="dashboard.location" -->
			</li>
			
			<li gridster-item rol="1" col="7" size-x="6" size-y="6" style="background-color:white" id="videoComponent">
				<video-component></video-component>
			</li>
			
			<!--<li gridster-item rol="1" col="7" size-x="6" size-y="3" style="background-color:white;">-->
				<!--<coordinates-Component></coordinates-Component>-->
			<!--</li>-->
			
			<!--<li gridster-item rol="8" col="7" size-x="6" size-y="2" style="background-color:white;">-->
				<!--<div class="nokia-light-blue-bg white material-shadow title-header" style="padding:5px;">-->
					<!--<span><b ng-bind="dashboard.carControlstitle"></b></span>-->
				<!--</div>-->
				<!--<div class="material-shadow backGroundWhite paddingForCarControlDiv">-->
					<!--&lt;!&ndash;<div class="">-->
						<!--<div class="arrows">-->
							<!--<img src="images/newCircle.png" style="margin-top: 35px; margin-left: 35px; position: absolute;"/>-->
							<!--<img src="images/newArrow.png" class="cursorPointer upArrowStyle" ng-class="{'blinkArrow': dashboard.upArrowBlink == true}" ng-click="dashboard.arrowClicked(38)"/>-->
							<!--<img src="images/newArrow.png" class="cursorPointer leftArrowStyle" ng-class="{'blinkArrow': dashboard.leftArrowBlink == true}" ng-click="dashboard.arrowClicked(37)"/>-->
							<!--<img src="images/newArrow.png" class="cursorPointer downArrowStyle" ng-class="{'blinkArrow': dashboard.downArrowBlink == true}" ng-click="dashboard.arrowClicked(40)"/>-->
							<!--<img src="images/newArrow.png" class="cursorPointer rightArrowStyle" ng-class="{'blinkArrow': dashboard.rightArrowBlink == true}" ng-click="dashboard.arrowClicked(39)"/>-->
						<!--</div>-->
					<!--</div>&ndash;&gt;-->
					<!---->
						<!--&lt;!&ndash;<div class="col-md-4" style="margin-top: 20px;">-->
							<!--<button class="btn btn-close leftArrowStyle" ng-class="{'blinkArrow': dashboard.leftArrowBlink == true}" ng-click="dashboard.arrowClicked(37)">-->
								<!--<i class="icon icon-back"></i>-->
							<!--</button>-->
							<!--<button class="btn btn-close centerArrowStyle" style="cursor:default">-->
								<!--<i class="icon icon-bullet"></i>-->
							<!--</button>-->
							<!--<button class="btn btn-close upArrowStyle" ng-class="{'blinkArrow': dashboard.upArrowBlink == true}" ng-click="dashboard.arrowClicked(38)">-->
								<!--<i class="icon icon-arrow-up"></i>-->
							<!--</button>-->
							<!--<button class="btn btn-close rightArrowStyle" ng-class="{'blinkArrow': dashboard.rightArrowBlink == true}" ng-click="dashboard.arrowClicked(39)">-->
								<!--<i class="icon icon-next"></i>-->
							<!--</button>-->
							<!--<button class="btn btn-close downArrowStyle" ng-class="{'blinkArrow': dashboard.downArrowBlink == true}" ng-click="dashboard.arrowClicked(40)">-->
								<!--<i class="icon icon-arrow"></i>-->
							<!--</button>-->
						<!--</div>&ndash;&gt;-->
					<!--<div class="container-fluid">-->
						<!--<div class="row" style="background-color: white;padding-bottom: 10px; padding-top: 10px;">-->
							<!--<div class="col-md-4">-->
								<!--<div style="text-align: center">-->
									<!--<button class="btn btn-close"  ng-mousedown="dashboard.arrowClicked(38)" ng-mouseup="mouseUp()">-->
										<!--<i class="icon icon-arrow-up" ng-class="{'blinkArrow': dashboard.upArrowBlink == true}"></i>-->
									<!--</button>-->
									<!--<br />-->

									<!--<button class="btn btn-close" ng-mousedown="dashboard.arrowClicked(37)" ng-mouseup="mouseUp()">-->
										<!--<i class="icon icon-back" ng-class="{'blinkArrow': dashboard.leftArrowBlink == true}"></i>-->
									<!--</button>-->
									<!--<button class="btn btn-close" style="cursor:default">-->
										<!--<i class="icon icon-bullet"></i>-->
									<!--</button>-->
									<!--<button class="btn btn-close" ng-mousedown="dashboard.arrowClicked(39)" ng-mouseup="mouseUp()">-->
										<!--<i class="icon icon-next" ng-class="{'blinkArrow': dashboard.rightArrowBlink == true}"></i>-->
									<!--</button>-->
									<!--<br />-->

									<!--<button class="btn btn-close" ng-mousedown="dashboard.arrowClicked(40)" ng-mouseup="mouseUp()">-->
										<!--<i class="icon icon-arrow" ng-class="{'blinkArrow': dashboard.downArrowBlink == true}"></i>-->
									<!--</button>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-md-8">-->
								<!--<div style="text-align: center">-->
									<!--<h4> Robot start controles : </h4>-->
									<!--<button type="button" class="btn"  ng-click="dashboard.robot(1)">-->
										<!--START-->
									<!--</button>-->
									<!--<button type="button" class="btn"  ng-click="dashboard.robot(2)">-->
										<!--RETRACT-->
									<!--</button>-->

								<!--<button type="button" class="btn"  ng-click="dashboard.robot(3)">-->
										<!--DEPLOY-->
									<!--</button>-->
								<!---->
								<!--<button type="button" class="btn"  ng-click="dashboard.robot(4)">-->
									<!--STOP-->
								<!--</button>-->

								<!---->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!---->
				<!--</div>-->
			<!--</li>-->
		</ul>
	</div>
</div>